.home-header {
  background: $gradient;
  width: 100%;
  height: 100vh;
  padding: 50px 0;
  display: grid;
  grid-template-columns: 55% 45%;
  section {
    color: color(textHeader);
    height: calc(100vh - 50px);
    display: grid;
    align-content: center;
    h1 {
      font-weight: 900;
      opacity: 0.6;
      span {
        text-transform: lowercase;
      }
    }
    h2 {
      margin: 6px 0 40px 0;
      span {
        text-transform: uppercase;
      }
    }
  }
  #home-header-left {
    padding-left: 68px;
  }
  #home-header-right {
    display: grid;
    justify-items: end;
    padding-right: 26px;
  }
}
