.navbar {
  max-width: $mainWidth;
  margin: $mainMargin;
  height: 100px;
  background: transparent;
  display: grid;
  align-content: center;
  z-index: 1;
  ul {
    padding: 0 $sidesPadding;
    justify-self: end;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 26px;
    button {
      color: color(textHeader);
    }
  }
}